/* Service Nav */
#services {
    margin: 0 5% 2rem 5%;
    padding: 2rem 1rem;

    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;

    background-color: slategray;
    border-radius: 1rem;

    font-size: 1.5rem;
}

.service-container {
    text-align: center;
    cursor: pointer;
    padding: .75rem;
}

.service-container p {
    margin: 0;
    padding: 0;
}

/* Service Details */
.service {
    margin: 2rem 5%;

    background-size: 100% 100%;

    border: .5rem solid goldenrod;
}

.service-text-odd {
    background-color: #17309def;
    border-radius: .5rem;
    text-align: center;
}
.service-text-even {
    background-color: #17309def;
    border-radius: .5rem;
    text-align: center;
}

.service h3::after {
    display: block;
    height: .5rem;

    content: "⸻⸻";
    color: goldenrod;
}

.service p {
    padding: 0 5%;
}

/* Background Images */
@media only screen and (min-width: 768px) {
    .service {
        height: 40rem;
    }

    .service-text-odd {
        position: relative;
        top: 15%;
        float: right;
        right: 5%;

        width: 20rem;
        height: 70%;
    }

    .service-text-even {
        position: relative;
        top: 15%;
        float: left;
        left: 5%;

        width: 20rem;
        height: 70%;
    }

    .service h3 {
        padding-top: 7.5%;
    }

    #speakers {
        background-image: url("../Resources/placeholder.jpg");
    }

    #doorbells {
        background-image: url("../Resources/placeholder.jpg");
    }

    #locks {
        background-image: url("../Resources/placeholder.jpg");
    }

    #garages {
        background-image: url("../Resources/placeholder.jpg");
    }

    #irrigation {
        background-image: url("../Resources/placeholder.jpg");
    }

    #security {
        background-image: url("../Resources/placeholder.jpg");
    }

    #voice-assistants {
        background-image: url("../Resources/placeholder.jpg");
    }
}
/* Mobile Design */
@media only screen and (max-width: 768px) {
    .service {
        border: none;

        display: flex;
        justify-content: center;
    }

    .service-text-odd {
        height: auto;
        padding-bottom: 2.5%;
    }

    .service-text-even {
        height: auto;
        padding-bottom: 2.5%;
    }
}