/* Service Nav */
#services {
    margin: 2rem 5%;
    padding: 2rem 1rem;

    display: flex;
    justify-content: space-around;
    align-content: center;

    background-color: lightslategray;
    border-radius: 1rem;

    font-size: 1.5rem;
}

.service-container {
    text-align: center;
    cursor: pointer;
}

.service-container p {
    margin: 0;
    padding: 0;
}

/* Service Details */

.service {
    margin: 2rem 5%;

    height: 40rem;

    background-size: 100% 100%;

    border: .5rem solid goldenrod;
}

.service-text-odd {
    position: relative;
    top: 15%;
    left: 70%;
    
    width: 25%;
    height: 70%;

    background-color: #17309def;
    border-radius: .5rem;

    text-align: center;
}

.service-text-even {
    position: relative;
    top: 15%;
    left: 5%;
    
    width: 25%;
    height: 70%;

    background-color: #17309def;
    border-radius: .5rem;

    text-align: center;
}

.service h3 {
    padding-top: 7.5%;
}

.service h3::after {
    display: block;
    height: .5rem;

    content: "⸻⸻";
    color: goldenrod;
}

.service p {
    padding: 0 5%;
}

#speakers {
    background-image: url("../Resources/placeholder.jpg");
}

#doorbells {
    background-image: url("../Resources/placeholder.jpg");
}

#locks {
    background-image: url("../Resources/placeholder.jpg");
}

#garages {
    background-image: url("../Resources/placeholder.jpg");
}

#irrigation {
    background-image: url("../Resources/placeholder.jpg");
}

#security {
    background-image: url("../Resources/placeholder.jpg");
}

#voice-assistants {
    background-image: url("../Resources/placeholder.jpg");
}