body {
    background-color: royalblue;

    font-family: Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    font-weight: normal;
    color: white;
}

.topnav {
    padding: 0 25%;

    display: flex;
    justify-content: space-around;

    font-size: 1.5rem;
    text-align: center;
}

.topnav a {
    padding: 0.5rem 1rem;

    background-color: darkblue;
    border-radius: .5rem;

    color: white;
    text-decoration: none;
}

.centered-text {
    text-align: center;
}

.page-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;

    text-shadow: 5px 5px 10px #4a91ed;
}

/* Home Styling */
#intro {
    margin: 0 5%;
}

#walkthrough-video {
    margin-left: auto;
    margin-right: auto;

    display: block;

    width: 90%;
}

#services {
    margin: 2rem 0;
    padding: 2rem 1rem;

    display: flex;
    justify-content: space-around;
    align-content: center;

    background-color: lightslategray;
    border-radius: 1rem;
}

.service-container {
    text-align: center;
    cursor: pointer;
}

.service-container p {
    margin: 0;
    padding: 0;
}

.service {
    height: 40rem;

    background-size: 100% 100%;

    border: .5rem solid goldenrod;
    border-bottom: none;
}

#voice-assistants {
    border-bottom: .5rem solid goldenrod;
}

.service-text-odd {
    position: relative;
    top: 15%;
    left: 72.5%;
    
    width: 22.5%;
    height: 70%;

    background-color: #17309def;
    border-radius: .5rem;

    text-align: center;
}

.service-text-even {
    position: relative;
    top: 15%;
    left: 5%;
    
    width: 22.5%;
    height: 70%;

    background-color: #17309def;
    border-radius: .5rem;

    text-align: center;
}

.service h3 {
    padding-top: 7.5%;
}

#speakers {
    background-image: url("./Resources/placeholder.jpg");
}

#doorbells {
    background-image: url("./Resources/placeholder.jpg");
}

#locks {
    background-image: url("./Resources/placeholder.jpg");
}

#garages {
    background-image: url("./Resources/placeholder.jpg");
}

#security {
    background-image: url("./Resources/placeholder.jpg");
}

#voice-assistants {
    background-image: url("./Resources/placeholder.jpg");
}

/* About Styling */
#about {
    margin: 5%;

    font-size: 1.5rem;
}

/* Contact Us Styling */
#contact-us h4 {
    margin: 0;
    text-decoration: underline;
}

#contact-us p {
    margin: .5rem 0 2rem 0;
}

#mon-fri-hours {
    margin: .5rem 0 0 0 !important;
}

#logo {
    margin-top: 2.75rem;
}

/* Reviews Styling */
#reviews {
    margin: 0 2.5rem;
}

.customer-container {
    margin-bottom: 1rem;
    padding: 1rem;

    background-color: #17309d;
    box-shadow: 10px 10px 10px #2a409f;
    
    border-radius: .5rem;

    text-align: center;
}

.customer-container h2 {
    display: inline;
}

.rating-container {
    margin-bottom: 1.5rem;
    /* -webkit-text-stroke: .5px black; */
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
}

.customer-container p {
    display: block;
    margin: .5rem 0 0 0;
}