body
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: normal;
    color: black;
    background-color: #E1F5FF;
}

.topnav
{
    font-size: 18px;
    text-align: center;

    padding: 0 37.5%;

    display: flex;
    justify-content: space-around;
}

.topnav a
{
    padding: 0.5rem 1rem;

    background-color: darkblue;
    border-radius: .5rem;

    color: white;
    text-decoration: none;
}

h1
{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}

p
{
    font-size: 16px;
}

/* Center Table */
table
{
    margin-left: auto;
    margin-right: auto;
}

th
{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: blue;
}

/* Table Borders */
table, th, td
{
    border: 2px solid black;
    border-collapse: collapse;
}